.active_custom{
    width:870px;
}
 .testimonial-item {
    position: relative;
    margin: 0 15px;
    text-align: center;
}
 .testimonial-img {
    position: relative;
    margin-bottom: 15px;
    z-index: 1;
}
 .testimonial-item img {
    margin: 0 auto;
    width: 120px;
    padding: 10px;
    border: 5px dotted white;
    border-radius: 100px;
}
 .testimonial-text {
    position: relative;
    margin-top: -70px;
    padding: 65px 35px 30px 35px;
    text-align: center;
    background: white;
    border-radius: 500px;
}
.testimonial-item p {
    font-size: 18px;
    font-style: italic;
}
.testimonial-text h3 {
    color: #EF233C;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
 .testimonial-text h4 {
    color: #666666;
    font-size: 14px;
    margin-bottom: 0;
}