#about{
    position: relative;
    width: 100%;
    margin: -45px 0 45px 0;
}
#about .about_img{
    position: relative;
    height: 100%;
}
#about .about_img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about .about_content{
    padding: 0 60px ;
}
#about .section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fff;
}
#about .section-header p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
    background: #EF233C;
    z-index: -1;
}
#about .section-header p::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: #EF233C;
    z-index: 1;
}
#about .section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.about_text {
    width: 87%;
    font-size: 16px !important;
    margin-bottom: 20px;
}
#about .skills {
    margin-bottom: 30px
}

#about .skill-name {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about .section-header {
    position: relative;
    margin-bottom: 45px;
    padding: 126px 0px 29px 0px;
}
#about.skill-name p {
    /* display: inline-block; */
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400
}


#about .progress {
    height: 10px;
    border-radius: 10px;
    background: #ddd;
}

#about .progress .progress-bar {
    width: 0;
    background: #EF233C;
    border-radius: 10px;
    transition: 2s
}


