.team-item {
    position: relative;
    background: #fff;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out 0.5s;
}
.team-img {
    position: relative;
    width: 50%;
    overflow: hidden;
}
.team-img img {
    position: relative;
    width: 100%;
    transition: .5s;
}
.team-text {
    position: relative;
    width: 50%;
    padding: 0 30px;
}
.team-text h2 {
    color: #EF233C;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: 1s;
}
.team-text h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    transition: 1s;
}
.team-text p {
    margin-bottom: 20px;
    transition: 1s;
}
.team-social {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team-social a.btn {
    width: 35px;
    height: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px
}
.team-item:hover {
    box-shadow: inset 800px 0 0 0 #EF233C
}

.team-item:hover .team-img img {
    transform: scale(1.2)
}

.team-item:hover .team-text h2, .team-item:hover .team-text h4, .team-item:hover .team-text p {
    color: #fff
}

.team-item:hover .team-social a.btn {
    background: #fff
}

.team-item:hover .team-social a.btn:hover {
    border-color: #fff
}
